archive/bi/workspaces/*
archive/e2e/node_modules/*
k6datahub/node_modules/*
k6datahub/dist/*
archive/adls/**/node_modules/*
**/*/.terraform*
terraform/.terraform/plugins
terraform/terraform.tfstate.d/prd/**/*
terraform/terraform.tfstate.d/dev/**/*
terraform/terraform.tfstate.d/tst/**/*
terraform/terraform.tfvars
terraform/**/*.log
**/*/gc.cer

terraform/.terraform.lock.hcl
terraform/config/appsettings*tf
app/DatahubIntakeForms/appsettings.Development.json
app/DatahubIntakeForms/appsettings.json
app/DatahubIntakeForms/appsettings.Tst.json
app/DatahubIntakeForms/Properties/launchSettings.json
app/WebPortal/appsettings.Development.json
app/WebPortal/appsettings.json
app/WebPortal/appsettings.prd.json
app/WebPortal/appsettings.Tst.json
app/WebPortal/Properties/launchSettings.json
app/WebPortal/appsettings.Offline.json
app/.vscode/launch.json
vm/*.vdi
vm/*.iso
terraform/**/appsettings.*.json
terraform/**/terraform.tfvars
terraform/experiment/terraform.*
terraform/**/project-data.json
**/*/terraform.out
dev/docker/django-app/.venv/

# Ignore all .env files in the repository
**/.env
.vscode/*